<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>BTCN02</title>
    <script src="/javascripts/default.js"></script>
</head>

<body>
    <div class="container">
        <h1>Bé tập tính</h1>
        <form id="form" method="POST" onsubmit="return Validate(event)">
            <div class="row">
                <label for="a" class="col-sm-3">Số thứ nhất</label>
                <input type="number" class="form-control form-control-sm col-sm-5" onblur="Warning('')" id="a" name="a" value="{{a}}">

                <div class="form-check col-sm-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="plus" value="plus" name="calculation" {{{plus}}}>Cộng
                    </label>
                </div>

                <div class="form-check col-sm-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="minus" value="minus" name="calculation" {{{minus}}}>Trừ
                    </label>
                </div>
            </div>
            <div class="row">
                <label for="b" class="col-sm-3">Số thứ hai</label>
                <input type="number" class="form-control form-control-sm col-sm-5" onblur="Warning('')" id="b" name="b" value="{{b}}">

                <div class="form-check col-sm-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="multiply" value="multiply" name="calculation" {{{multiply}}}>Nhân
                    </label>
                </div>

                <div class="form-check col-sm-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="divide" value="divide" name="calculation" {{{divide}}}>Chia
                    </label>
                </div>
            </div>
            <div class="row">
                <label for="ans" class="col-sm-3">Kết quả</label>
                <input type="number" class="form-control form-control-sm col-sm-5" id="ans" name="ans" value="{{ans}}">
                <input type="submit" class="btn btn-primary col-sm-4" id="submit" value="Tính">
            </div>
            <div class="row">
                <div class="col-sm-3">Thông báo</div>
                <div class="col-sm-5" style="display : none;  color: rgb(241, 93, 93);" id="noti"></div>
            </div>
        </form>
    </div>

</body>

</html>